#body-color{
font-family:arial;
font-size:16px;
line-height:22px;
background:url(z.jpg) fixed repeat;
}
.fix{overflow:hidden}

.main{
width:960px;
margin:25px auto;
background-image:url('a.jpg');
}
.error{
margin:10px;
padding:10px 20px;
background:black;
color:white;
}

.check{
margin:10px;
padding:10px 20px;
background:black;
color:white;
}
.check p{
font-size:20px;
margin-left:10px;
margin-right:10px;
}
#Sign-Up{
margin-top:10px;
margin-bottom:10px;
padding:10px 50px;
}
#button{
border-radius:10px;
border-bottom:10px;
margin-left:40px;
margin-top:10px;
width:121px;
height:47px;
background:#FF00FF;
font-weight:bold;
font-size:20px;
}
.back{
margin-top:10px;
margin-left:-50px;
}
.back a{
border-radius:10px;
text-decoration:none;
font-weight:bold;
color:black;
background:#FF00FF;
padding:11px 40px;
font-size:20px;
}
.back a:hover{
color:white;
}
.footer{
padding:15px;
background:black;
margin-top:10px;
color:white
}